@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .headerHover {
    @apply px-2 h-[80%] flex items-center border border-transparent hover:border-white cursor-pointer duration-100;
  }

  .footerLink {
    @apply text-sm font-titleFont tracking-wide hover:text-gray-100 cursor-pointer
    hover:underline duration-150;
  }

  .footerBottomTitle {
    @apply w-24 font-semibold text-[12px] group-hover:underline
    text-[#DDD] leading-3 mb-[2px];
  }

  .footerBottomText {
    @apply w-24 tracking-tight text-[12px] text-[#999] group-hover:underline leading-3;
  }

  .productLi {
    @apply text-gray-600 hover:text-black text-sm font-medium border-b-[1px]
    border-b-gray-400 hover:border-b-gray-700 flex items-center justify-end gap-2
    hover:cursor-pointer duration-300 w-full;
  }
}
